absl-py==2.1.0
aiohappyeyeballs==2.4.3
asttokens==3.0.0
attrs==24.2.0
backcall==0.2.0
blinker==1.8.2
Brotli==1.0.9
cached-property==1.5.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.1.0
frozenlist==1.4.1
fsspec==2024.10.0
future==1.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
itsdangerous==2.2.0
jmespath==1.0.1
json5==0.9.25
jsonpointer==3.0.0
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
llvmlite==0.40.1
loguru==0.7.2
MarkupSafe==2.1.5
mccabe==0.7.0
mistune==3.0.2
monty==2023.11.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
munkres==1.1.4
nest_asyncio==1.6.0
networkx==3.1
packaging==25.0
palettable==3.3.3
pandocfilters==1.5.0
parso==0.8.4
pickleshare==0.7.5
Pint==0.21
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
ply==3.11
prometheus_client==0.21.0
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11_global==2.13.6
pycodestyle==2.12.1
pycparser==2.22
pyDeprecate==0.3.0
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.1.4
PySocks==1.7.1
fastjsonschema==2.20.0
python-json-logger==2.0.7
tzdata==2024.2
pytz==2024.2
PyYAML==5.4.1
pyzmq==26.2.0
rfc3986-validator==0.1.1
rpds-py==0.20.0
ruamel.yaml.clib==0.2.8
Send2Trash==1.8.3
setuptools==75.3.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
tabulate==0.9.0
tenacity==9.0.0
tensorboard-data-server==0.7.0
termcolor==2.4.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
tornado==6.4.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
typing-utils==0.1.0
ujson==5.10.0
unicodedata2==15.1.0
uri-template==1.3.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==4.0.13
zipp==3.21.0
aiosignal==1.3.1
anyio==4.5.0
async-lru==2.0.4
autopep8==2.3.1
babel==2.16.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
cffi==1.17.0
comm==0.2.2
dnspython==2.6.1
fonttools==4.53.1
gmpy2==2.1.5
h11==0.14.0
h2==4.1.0
httplib2==0.22.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
latexcodec==2.0.1
lightning-utilities==0.11.8
matplotlib-inline==0.1.7
numpy==1.24.4
overrides==7.7.0
pexpect==4.9.0
pillow==10.4.0
pip==24.3.1
plotly==5.24.1
prompt_toolkit==3.0.48
protobuf==4.25.3
pybind11==2.13.6
python-dateutil==2.9.0
referencing==0.35.1
rfc3339-validator==0.1.4
ruamel.yaml==0.18.6
sip==6.7.12
stack-data==0.6.2
terminado==0.18.1
tinycss2==1.4.0
tqdm==4.67.1
Werkzeug==3.0.6
yacs==0.1.8
yarl==1.9.4
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.2.4
async-timeout==4.0.3
cftime==1.6.4
contourpy==1.1.1
cryptography==43.0.0
Flask==3.0.3
fqdn==1.5.1
grpcio==1.62.2
httpcore==1.0.7
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_server_terminals==0.5.3
Markdown==3.6
numba==0.57.1
pandas==2.0.3
patsy==0.5.6
pybtex==0.24.0
pymongo==4.8.0
pypif==2.1.1
PyQt5-sip==12.12.2
python-louvain==0.16
torch_scatter==2.1.2+pt24cpu
sympy==1.13.3
tzlocal==5.2
uncertainties==3.2.2
zstandard==0.19.0
aiohttp==3.10.5
APScheduler==3.10.4
argon2-cffi==23.1.0
httpx==0.27.2
ipython==8.12.2
isoduration==20.11.0
jsonschema==4.23.0
matplotlib==3.7.3
netCDF4==1.7.1
pylint==3.2.7
torch_cluster==1.6.3+pt24cpu
torch_spline_conv==1.2.2+pt24cpu
eval_type_backport==0.2.2
wandb==0.21.1
spglib==2.4.0
tensorboard==2.17.1
urllib3==2.2.3
ipykernel==6.29.5
ipywidgets==8.1.5
nbformat==5.10.4
torch_sparse==0.6.18+pt24cpu
requests==2.32.3
wslink==2.2.1
globus-sdk==3.46.0
googledrivedownloader==0.4
jupyter-events==0.10.0
nbclient==0.10.2
pooch==1.8.2
PyQt5==5.15.9
requests-mock==1.12.1
vtk==9.3.1
citrination-client==6.5.1
fair-research-login==0.3.1
globus-nexus-client==0.4.1
nbconvert==7.16.4
scipy==1.10.1
ase==3.22.1
jupyter_server==2.14.2
mdf-toolbox==0.5.8
scikit-learn==1.3.2
seaborn==0.13.2
sparse==0.15.5
statsmodels==0.14.1
aflow==0.0.11
dscribe==2.1.1
jupyter-lsp==2.2.5
jupyterlab_server==2.27.3
mdf-forge==0.8.0
notebook_shim==0.2.4
torch-geometric==2.0.1
jupyterlab==4.3.0
matminer==0.7.3
notebook==7.0.6
nglview==0.0.0
pathtools==0.1.2
antlr4-python3-runtime==4.8
watchdog==4.0.2
validators==0.34.0
subprocess32==3.5.4
smmap==5.0.2
shortuuid==1.0.13
sentry-sdk==2.34.1
python-dotenv==1.0.1
pyarrow==17.0.0
promise==2.3
ppft==1.7.7
pox==0.3.6
pluggy==1.5.0
omegaconf==2.1.2
narwhals==1.42.1
iniconfig==2.1.0
docker-pycreds==0.4.0
pytorch-lightning==2.4.0
dill==0.4.0
configparser==7.1.0
cachetools==5.5.2
base58==2.1.1
astor==0.8.1
pytest==8.3.5
pydeck==0.9.1
multiprocess==0.70.18
hydra-core==1.1.0
gitdb==4.0.12
pathos==0.3.4
hydra-joblib-launcher==1.1.5
GitPython==3.1.45
SMACT==2.2.1
p_tqdm==1.3.3
altair==5.4.1
streamlit==0.79.0
pydantic==1.10.22
torchmetrics==1.5.2
pymatgen==2023.8.10
emmet-core==0.68.0
mp-api==0.35.1
filelock==3.13.1
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu
cdvae==0.0.1
